.wrapperBox {
  min-height: 100vh;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
}
.ButtonStart {
  position: absolute;
  left: -20px;
}
.ButtonEnd {
  position: absolute;
  right: 0;
}
.box1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2vh 0 3vh 0;
}
.SideTitle {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-left: 12px;
  letter-spacing: 0.01em;

  /* Text/Body */

  color: #494949;
}
