.MainContent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 2px;
  /* Black */
  color: #000000;
  letter-spacing: 2px;
  /* Black */
}
.ContainerForMainContent {
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  padding-top: 100%;
}
.SubContent {
  padding-top: 95%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 2px;

  /* Gray */

  color: #7e7e7e;
}
